#features_parent_container {
    display: flex;
    flex-direction: column;
}

.features_container {
    width: 100;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    margin-top: 24px;
}

.feature {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature p {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

.feature p,
h3 {
    margin-top: 16px;
    text-align: center;
}

.deviceScreenshoot {
    width: 40%;
    background-color: #2979ff;
    border-radius: 8px;
}

.palette_container {
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 8px;
}