* {
    background-color: #191919;
    margin: 0;
    padding: 0;
    font-family: "ProductSans";
}

@font-face {
    font-family: "ProductSans";
    src: url("../fuentes/product_sans_medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "ProductSans";
    src: url("../fuentes/product_sans_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    color: rgb(255, 255, 255);
}

p {
    color: rgba(255, 255, 255, .70);
}


/* Cabecera */

#navigation_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#navigation_bar nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#navigation_bar nav a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
}

#navigation_bar nav a:hover {
    border: #82b1ff;
    color: #82b1ff;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
}

.selectedTab {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
}

#navigation_bar_logo img {
    width: 40px;
    height: 40px;
    margin: 16px 16px 16px 32px;
    vertical-align: top;
}

#navigation_bar_logo a {
    font-weight: bold;
    font-size: x-large;
    line-height: 64px;
    color: rgba(255, 255, 255, 87);
    text-decoration: none;
}