#title {
    text-align: center;
}

#paragraph {
    display: flex;
    flex-direction: row;
}

#colum1 {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
    margin-right: 50px;
}

#colum2 {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
    margin-left: 50px;
}

#colum1 #paragraph1 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum1 #paragraph2 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum1 #paragraph3 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum1 #paragraph4 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum2 #paragraph5 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum2 #paragraph6 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

#colum2 #paragraph7 {
    padding: 5em .5em .5em .5em;
    content: inherit;
}

h2 {
    text-align: center;
}

p {
    margin-top: 16px;
    text-align: center;
}
.boton {
    padding-top: 20px;
    color: #82b1ff;
    margin: auto; 
    display: block;
    text-align: center;
}