#home_parent_container {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    align-items: center;
}

#home_parent_container img {
    width: 20%;
    margin-left: 20%;
    border-radius: 16px;
}

#home_summary_container {
    width: 40%;
    display: flex;
    margin-left: 128px;
    flex-direction: column;
}

#home_summary_container h1 {
    text-align: start;
}

#home_summary_container p {
    text-align: start;
}

#home_summary_container img {
    margin: 0;
    width: 40%;
    margin-top: 24px;
    text-align: start;
}