* {
    box-sizing: border-box;
}

@font-face {
    font-family: "ProductSans";
    src: url("../fuentes/product_sans_medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "ProductSans";
    src: url("../fuentes/product_sans_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    background: #191919;
    color: gray;
    font-size: 15px;
    margin: 0;
    font-family: 'ProductSans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    position: relative;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: whitesmoke;
}

.formulario__input,
.formulario__label,
.formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input {
    padding: 20px;
    background: transparent;
    border: 1px solid whitesmoke;
    margin-bottom: 40px;
}

.formulario__input:focus {
    outline: 1px solid whitesmoke;
}

.formulario__input:focus+.formulario__label {
    margin-top: -135px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: gray;
    transition: all 0.2s;
}

.formulario__submit {
    background: whitesmoke;
    color: gray;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border: 3px solid gray;
}

.formulario__submit:focus {
    background: lightsteelblue;
    color: black;
}

.estilotextarea2 {
    width: 460px;
    height: 100px;
    border: 3px solid gray;
    background: whitesmoke;
    color: black;
    margin: 0;
}

.fijar {
    margin-top: -135px;
}

#navigation_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#navigation_bar nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#navigation_bar nav a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
}

#navigation_bar nav a:hover {
    border: #82b1ff;
    color: #82b1ff;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
}

.selectedTab {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
}

#navigation_bar_logo img {
    width: 40px;
    height: 40px;
    margin: 16px 16px 16px 32px;
    vertical-align: top;
}

#navigation_bar_logo a {
    font-weight: bold;
    font-size: x-large;
    line-height: 64px;
    color: rgba(255, 255, 255, 87);
    text-decoration: none;
}